<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NLP Input</title>
  <link rel="stylesheet" href="../static/css/nlp_styling.css">
  <script src="./nlpInput.js" defer></script>
</head>

<body>
  <h1>Send Text for NLP</h1>
  <textarea id="inputText" rows="5" cols="50" placeholder="Type something here..."></textarea><br><br>
  <button id="sendButton">Send</button>
  <h2>Response:</h2>
  <div id="response"></div>
</body>

</html>
