<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/registration_styling.css">

</head>

<body>
    <header>
        <h1>Lets Get Started!</h1>
    </header>

    <main>
        <section class="personal-information">
            <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
                <div class="first">

                    <label for="name">Name:</label>
                    <input type="text" id="name" th:field="*{name}" required>
                    <br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" required>
                    <br>









                    <!--<label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" placeholder="First Name">
                </div>

                 <div class="last">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                </div>

                 <div class="e">
                    <label for="Email">Email:</label>
                    <input type="Email" id="email" name="email" placeholder="Email">
                </div>

                 <div class="pass">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>

                 <div class="cp">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="text" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                </div>-->

                 <div class="btn">
                    <button type="register">Register</button>
                </div>
            </form>
           
        </section>
    </main>

    <footer>
        <div class="cols">
        <div class="about-col">
          <h3>TechSquad Task Manager</h3>
          <p>Smart Task Manager</p>
        </div>

        <div class="links-col">
          <h4>Useful Links</h4>
            <a href="/">Home</a>
            <a href="./about.html">About</a>
            <a href="./userInputTask.html">Task Manager</a>
            <a href="./contact.html">Contact</a>
            <a href="./login_page.html">Log In</a>
            <a href="./dashboard.html">Dashboard</a>
            <a href="./CalendarApp.html">Calendar</a>
        </div>

        <div class="git-link-col">
          <h4>Useful Links</h4>
          <a href="https://github.com/">Github</a>
        </div>
      </div>
      <p class="copy-right">&copy;2024 The TechSquad. All rights reserved.</p>
    </footer>
</body>
</html>