<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user input task</title>
    <link rel="stylesheet" href="/css/userinput_styling.css">
    <script src="./task.js" defer> </script>
</head>
<body>
<header class="navbar">
    <h1>TechSquad Task Manager</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About </a></li>
            <li><a href="#">Task Manager</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="input-section">

        <div class="input-area">
            <form action="#" th:action="@{/task}" th:object="${task}" method="post">

                <div class="task-name">
                    <label for="taskName">Task Name:</label>
                    <input type="text" id="taskName" name="name" placeholder="Enter task name" required>
                </div>

                <div class="task-description">
                    <label for="taskDescription">Description:</label>
                    <textarea id="taskDescription" name="description" rows="3" placeholder="Enter task description"></textarea>
                </div>

                <div class="task-due">
                    <label for="dueDate">Due Date:</label>
                    <input type="date" id="dueDate" name="date">
                </div>

                <div class="task-priority">
                    <label for="priority">Priority:</label>

                    <select id="priority" name="priority">
                        <option value="0">Low</option>
                        <option value="1">Medium</option>
                        <option value="2">High</option>
                    </select>
                </div>

                <div class="submit-btn">
                    <button type="submit">Add Task</button>
                </div>

            </form>
        </div>

        <div class="task-display">
            <h2>Tasks</h2>
            <div id="taskContainer"></div>
        </div>

    </section>

</main>

<footer>
    <div class="cols">
        <div class="about-col">
            <h3>TechSquad Task Manager</h3>
            <p>Smart Task Manager</p>
        </div>

        <div class="links-col">
            <h4>Useful Links</h4>
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Task Manager</a>
            <a href="#">Contact</a>
            <a href="/login">Log In</a>
        </div>

        <div class="git-link-col">
            <h4>Useful Links</h4>
            <a href="#">Github</a>
        </div>
    </div>
    <p class="copy-right">&copy;2024 The TechSquad. All rights reserved.</p>
</footer>

</body>
</html>